
  .VPHome{
    .box{
      padding: 10px !important;
    }
    .box .VPImage{
      margin-bottom: 0px !important;
    }
    .details{
      padding-top: 3px !important;
    }
  }
  /**
    内容模块样式修改
  **/
   
  .VPContent {

    .image-src{
      top: 60% !important;
    }

    .VPDocFooter{
      margin-top: 0 !important;
    }
  }  